@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
}
.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}
.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link,
.navbar-phone {
  text-decoration: none;
  color: #fff;
}
.navbar-contacts {
  text-align: right;
}
.navbar-text {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.navbar-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}
.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-image path {
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover {
  opacity: 1;
}
.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.counter-arrow-down {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}
.main-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
  margin: 0;
}
.floor-counter {
  font-family: "Bebas Neue", sans-serif;
  color: #635854;
  font-size: 124px;
  line-height: 124px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.button {
  background: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}
path.current-floor {
  opacity: 1;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}
.is-open {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  opacity: 0;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transition: transform 0.2s, opacity 0.2s;
  -moz-transition: transform 0.2s, opacity 0.2s;
  -ms-transition: transform 0.2s, opacity 0.2s;
  -o-transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
}
.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.modal-image {
  width: 60%;
  background-color: #ebebeb;
  text-align: center;
  padding: 50px;
}
.flats path {
  opacity: 0;
  cursor: pointer;
}
.flats path:hover {
  opacity: 1;
}
.modal-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 26px;
}
.modal-info {
  width: 40%;
  padding: 50px 46px;
}
.flat-list {
  padding: 0;
  margin-top: 50px;
  list-style: none;
}
.flat-item {
  margin-bottom: 10px;
}
.flat-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #635854;
}
.flat-link:hover {
  color: #3596f5;
  text-decoration: underline;
}
.modal-alert {
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}
.modal-close-button {
  position: absolute;
  right: 27px;
  top: 38px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
